<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="NLog\all_log.log">

	<targets>
		<!--文件日志，archive相关参数：文件拆分，每100M拆分一个新文件-->
		<target xsi:type="File"
			  name="all_log"
			  fileName="NLog\${shortdate}\${event-properties:filename}${shortdate}.log"
			  layout="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception}"
			  archiveFileName="NLog\${shortdate}\${event-properties:filename}${shortdate}.{####}.log"
			  archiveNumbering="Rolling"
			  archiveAboveSize="10485760"
			  concurrentwrites="true"
			  maxArchiveFiles="100"
              />
	</targets>

	<rules>
		<!-- add your logging rules here -->
		<!--路由顺序会对日志打印产生影响。路由匹配逻辑为顺序匹配。-->

		<!--Skip Microsoft logs and so log only own logs-->
		<!--以Microsoft打头的日志将进入此路由，由于此路由没有writeTo属性，所有会被忽略-->
		<!--且此路由设置了final，所以当此路由被匹配到时。不会再匹配此路由下面的路由。未匹配到此路由时才会继续匹配下一个路由-->
		<logger name="Microsoft.*" minlevel="Trace"  final="true" />
		<logger name="*" minlevel="Trace" writeTo="all_log" />
	</rules>
</nlog>